[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mistune = "*"
ipykernel = "*"
beautifulsoup4 = "*"
ipdb = "*"
torch = "*"
torchvision = "*"
ipywidgets = "*"
gcsfs = "*"
timeout-decorator = "*"
textacy = "*"
cld2-cffi = "*"
regex = "*"
flask = "*"
fastai = "*"

[requires]
python_version = "3.7"
